<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <select (change)="setvalue($event)">
   <option value="">Select</option>\
   <option value="one">One</option>
   <option value="two">Two</option>
   <option value="three">Three</option>
   <option value="another">Another</option>
 </select>

    <div [ngSwitch]="choose">
        <h3 *ngSwitchCase="'one'">First</h3>
        <h3 *ngSwitchCase="'two'">Second</h3>
        <h3 *ngSwitchCase="'three'">Three</h3>
        <h3 *ngSwitchDefault>Default</h3>
    </div>

    <router-outlet></router-outlet>